@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@100;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Red+Hat+Display:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
header{
	background-color: transparent;
	position: relative;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}

#hero{
	background-image: url("../img/home-header-bg.jpg");
	background-size: cover;
	background-position: top center;
	min-height: 400px;
	text-align: left;
}

.btn-samsung{
	color: #000000;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1;
	border-radius: 30px;
	border-color: #000;
	padding: 10px 10px;
}

#products{
	text-align: center;
	padding: 30px;
}

#products h3{
	padding-bottom: 30px;
}

.btn-mas-info{
	color: #000000;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1;
	border-radius: 30px;
	border-color: #000;
	padding: 10px 20px;
}

.descripcion{
	padding: 30px;
}

footer{
	background-color: #f2f2f2;
	padding: 40px;
}

.nav-link{
	font-size: 20px;
	color: #000;
}

.copy{
	margin-top:  20px;
}